.Productdetail{
    margin-top: 100px;
    margin-left: 130px;
    padding: 5px;
}
.Productdetail > h1{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Productdetail > p{
    font-size: 20px;
    word-wrap: break-word;
}
.Productdetail > h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Colorchoice > img{
    width: 90px;
}
.strapcolor{
    border: 2px solid transparent;
    border-radius: 5px;
    margin-right: 8px;
    cursor: pointer;
}
.selectedProduct{
    border: 2px solid rgb(83, 83, 233);
}
.featItem{
    margin-right: 10px;
    margin-bottom: 25px;
    padding: 8px 25px;
    background-color: rgb(217, 216, 216);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: content-box;
}
/* .featItem{
    padding: 8px 25px;
    background-color: rgb(206, 205, 205);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: content-box;
} */
.buy{
    padding: 8px 25px;
    background-color: teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: content-box;
}
.selectedFeat{
    background-color: grey;
    color: white;
}