.Productview{
    margin-top: 100px;
    margin-left: 40px;
    display: flex;
    position: relative;
}
.Productview > img{
    width: 500px;
}
.FeatureData{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.heartbeat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: 600;
}